name: Upload Files to S3
on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
    paths-ignore:
      - 'ci/**'
      - '.github/**'
      - 'LICENSE'
      - '.gitignore'
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.1
      - name: Setup Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 'lts/*'
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          role-to-assume: ${{ vars.AWS_ROLE_ARN }}
          role-session-name: ${{ github.run_id }}-${{ github.job }}-${{ github.run_attempt }}
          aws-region: ${{ vars.AWS_REGION }}
      - name: Install dependencies and upload
        working-directory: ./.github/ci/upload
        run: npm install
      - name: Trigger Upload Script
        run: node ./.github/ci/upload/index.mjs
